@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.App{
    width: 100vw;
    height: 100vh;
}
*{
    font-family: 'Nunito', sans-serif;
  min-height: 100%;

}
.switch{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
#light{
    background-color:#fafafa;
    color: black;
}

#dark{
    background-color: black;
    color: white;
}
.h2-align{
    text-align: center;
}

.title-bg{
    background-color: #f0efeb;
    border-radius: 1em;
    padding: 0.5em;
    border:none;
}
#light .profile-bg{
    background-color: #bcd4e6;
}

#light .navbarbg{
    background-color: #bcd4e6;
    }
    #dark .navbarbg{
        background-color: #608cca;
    }
#light .input-bg{
background-color: #d6e2e9;
border-radius: 1em;
    padding: 0.5em;
    border:none;

}
#light .switch label{
    color: black;
}
#dark .switch label{
    color: Black;
}
.background-gradient{
    background: linear-gradient(#6eb8cf, #608cca);
}

#btn-register{
    background-color: #6eb8cf;
    border-color: #6eb8cf;
}
#btn-login{
    background-color: #6eb8cf;
    border-color: #6eb8cf;
}

#btn-forgot{
    background-color: #6eb8cf;
    border-color: #6eb8cf;
}
#btn-update{
    background-color: #a0ced9;
    border-color: #f0efeb;

}

#btn-add{
    background-color:#99c1de;
    border: none;
    border-radius: 0.75em;
    padding:0.5em;
    margin-left: 0.5em;
    width: 3em;

}
#btn-done{
    background-color:#cdeac0;
    border: none;
}

#btn-edit{
    background-color:#6eb8cf;
    border: none;
}
#btn-delete{
background-color: tomato;
border: none;
}
.form-nav-box{
    text-align:center;
    color: white;
    padding-top:0.5em;
}

.form-nav-link{
    color:black;
    text-decoration: none;

}

#add-todo{
text-align: center;
}

#todo-result{
    display: flex;
    align-items:center;
 
    flex-direction: row;
    padding-top: 1em;
    justify-content: space-around;
}

.input-width{
    width: 80%;
}


.time-sets{
    display:grid;
    grid-template-columns:50px 200px 50px ;
    justify-items: center;
    align-items: center;
}
.dark-toggle{
    display: flex;
    align-items: center;
}
.dark-toggle label{
padding: 0.5em;
}
